{% extends 'base.html' %}
{% block title %}{{ user.first_name }} {{ user.last_name }}{% endblock %}
{% block content %}

<h1>{{ user.first_name }} {{ user.last_name }}</h1>
<p>@{{ user.username }}</p>
<p>{{ user.email }}</p>

<div class="mt-4">
    <h3>Feedback</h3>
    {% if feed %}
    {% for feedback in feed %}
    <div class="card my-3">
        <div class="card-body">
            <h4 class="card-title">{{ feedback.title }}</h4>
            <p class="card-text">{{ feedback.content }}</p>
            {% if session['username'] == feedback.user_id %}
            <form action="/feedback/{{ feedback.id }}/delete" method="POST">
                <a href=" /feedback/{{ feedback.id }}/update" class="card-link"><small>edit</small></a>
                <button class="btn btn-link text-danger"><small>delete</small></button>
            </form>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>This user has no posts!</p>
    {% endif %}        

    <a href="/users/{{ user.username }}/feedback/add">add feedback</a>

</div>

{% endblock %}